{% extends  'home/layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="features">
        {% if user.is_authenticated %}
        <p>Добро пожаловать, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Выход</a>
        {% else %}
        <p>Пожалуйста, войдите в систему.</p>
        <a href="{% url 'register'%}">Регистрация</a>
        <br/>
        <a href="{% url 'login'%}">Войти</a>
    {% endif %}
        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda, delectus, deserunt, dolorum enim eum ex impedit libero magnam nisi officia omnis perferendis quisquam repellendus unde veritatis voluptate! Cum, maxime?</p>
        <button class="btn btn-warning">Кнопка</button>
    </div>
{% endblock %}