{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Онлайн барахолка</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <h1>Онлайн барахолка</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/products/">Товары</a></li>
            <li><a href="/about/">О нас</a></li>
            <li><a href="/about/">Регистрация</a></li>
            <li><a href="/about/">Войти</a></li>
            <li><a href="/about/">Выйти</a></li>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Онлайн барахолка. Все права защищены.</p>
    </footer>
</body>
</html>