{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Онлайн барахолка</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <h1>Онлайн магазин книг</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/products/">Товары</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
           <li><a href="{% url 'register'%}">Регистрация</a></li>
           <li><a href="{% url 'login'%}">Войти</a></li>
        {% endif %}
            <li><a href="/cart/">Корзина</a></li>
            <li><a href="/users/balance/">Баланс: {{ balance }}</a></li>

    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Онлайн барахолка. Все права защищены.</p>
    </footer>
</body>
</html>