.site-header {
  background-color: #2b2b2b;
  padding: 20px;
  text-align: center;
}

.site-header h1 {
  font-size: 32px;
  color: #ffffff;
  margin: 0;
}

header {
  background-color: #262626;
  color: #fff;
  padding: 10px;
}

header h1 {
  margin: 0;
}

/* Стили для навигации */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff0066;
  background-color: #4d4d4d;
}

nav ul li.active a {
  color: #ff0066;
  background-color: #fff;
  border-radius: 4px;
}

/* Стили для основного содержимого */
main {
  padding: 20px;
}

/* Стили для подвала */
footer {
  bottom: 0;
  width: 100%;
  background-color: #262626;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

/* Стили для ссылок */
a {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: white !important;
  text-decoration: none;
}

.nav-link:hover {
  color: white !important;
  text-decoration: none;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.filter-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #262626;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5;
}

.filter-button:hover {
  background-color: #4b4b4b;
  text-decoration: none;
  color: #ffffff;
}

.filter-button:active {
  transform: scale(0.9);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* CSS для фильтра */
.col-md-3 {
  width: 90px;
  padding: 10px;
  border-radius: 5px;
}

form h3,
h5 {
  text-align: center;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px; /* Добавление отступа слева */
}

input[type="number"],
input[type="text"] {
  width: 100%; /* Ширина 100% для растяжения на всю доступную ширину */
  padding: 5px;
  margin-bottom: 10px;
}

/* Выравнивание input в одну вертикаль */
form > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

form > div label {
  flex-basis: 20%; /* Ширина 30% для метки */
}

form > div input {
  flex-grow: 1; /* Растяжение input на оставшуюся ширину */
}

button[type="submit"] {
  background-color: #262626;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* CSS для списка товаров */
.col-md-9 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features h1 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.product {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333333;
}

.product p {
  margin-bottom: 5px;
  color: #666666;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #262626;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  max-width: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-title {
  font-size: 50px;
  font-weight: bold;
}

.modal-body {
  margin-bottom: 10px;
}

.modal-footer {
  text-align: right;
}

.modal-footer button {
  padding: 5px 10px;
  background-color: #ff9800;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal-footer button.cancel {
  background-color: #aaa;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.order-list {
  list-style: none;
  padding: 0;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
}

.order-item {
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.order-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.order-details {
  margin-bottom: 10px;
}

.order-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-actions p {
  margin: 0;
  font-size: 14px;
  color: #333;
}


#cart-message {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 450px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

