{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<head>
    <title>Создание товара</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <h1>Создание товара</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Название:</label>
        <input type="text" name="name" id="name" required><br><br>

        <label for="price">Цена:</label>
        <input type="number" name="price" id="price" min="0" step="0.1" required><br><br>

        <label for="price">Дата издания:</label>
        <input type="number" name="date_release" id="date_release" min="0" step="1" required><br><br>

        <label for="tip">Жанр:</label>
        <input type="text" name="tip" id="tip"><br><br>

        <label for="description">Описание:</label><br>
        <textarea name="description" id="description"></textarea><br><br>

        <label for="image">Изображение:</label>
        <input type="file" name="image" id="image" accept="image/*" required><br><br>

        <button type="submit" class="filter-button">Создать</button>
    </form>
</body>
{% endblock %}