{% extends 'home/layout.html' %}

{% block title %}Заказы курьера{% endblock %}

{% block content %}
  <h1>Страница заказов курьера</h1>
  <ul>
    {% for order in orders %}
      <li>
        Заказ пользователя: {{ order.user.username }}<br>
        Телефон: {{ order.phone }}<br>
        Адрес: {{ order.address }}<br>
        Комментарий: {{ order.comment }}<br>
        Корзина: {{ order.all_name }}<br>
        Статус: {{ order.status }}<br>
        {% if order.delivery_status == 'pending' %}
          <button class="filter-button" onclick="location.href='{% url 'accept_delivery' order.id %}'">Принять в доставку</button>
        {% elif order.delivery_status == 'in_transit' %}
          <button class="filter-button" onclick="location.href='{% url 'close_delivery' order.id %}'">Товар доставлен</button>
        {% elif order.delivery_status == 'delivered' %}
          Товар доставлен
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
