{% extends 'home/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
   <div class="col-md-9">
      <div class="features text-center">
         <h1>Удаление товаров</h1>
         {% for product in latest_products %}
         <div class="product">
            <h3>{{ product.name }}</h3>
            <p>Цена: {{ product.price }}</p>
            <p>Дата издания: {{ product.date_release }}</p>
            <p>Жанр: {{ product.tip }}</p>
            <p>Описание: {{ product.description }}</p>
            {% for image in product.productimage_set.all %}
            <img src="{{ image.image.url }}" alt="Фото товара">
            {% endfor %}
            <a href="{% url 'product_room' product.id %}"><button class="filter-button">Подробнее</button></a>
            <button class="filter-button" onclick="confirmDelete('{{ product.id }}')">Удалить</button>
         </div>
         {% endfor %}
      </div>
   </div>

   <!-- Модальное окно подтверждения удаления -->
<div id="deleteModal" class="modal">
   <div class="modal-content">
      <span class="close">&times;</span>
      <p>Вы уверены, что хотите удалить этот товар?</p>
      <form id="deleteForm" action="" method="post">
         {% csrf_token %}
         <button class="filter-button">Удалить</button>
         <button type="button" class="filter-button cancel-button">Отмена</button>
      </form>
   </div>
</div>

<script>
   // Функция для открытия модального окна и установки правильного URL для удаления товара
   function confirmDelete(productId) {
      var modal = document.getElementById("deleteModal");
      var form = document.getElementById("deleteForm");
      var closeBtn = document.getElementsByClassName("close")[0];
      var cancelBtn = document.getElementsByClassName("cancel-button")[0];

      // Установка правильного URL для удаления товара
      form.action = "/staff_orders/delete_product/" + productId + "/";

      // Открытие модального окна
      modal.style.display = "block";

      // Обработчик для закрытия модального окна при нажатии на крестик
      closeBtn.onclick = function() {
         modal.style.display = "none";
      }

      // Обработчик для закрытия модального окна при нажатии на кнопку "Отмена"
      cancelBtn.onclick = function() {
         modal.style.display = "none";
      }
   }
</script>
{% endblock %}