{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <h1>Страница персонала</h1>
  <div class="order-list">
    {% for order in orders %}
      <div class="order-item">
        <div class="order-details">
          <p><strong>Номер заказа:</strong> {{ order.id }}</p>
          <p><strong>Заказ пользователя:</strong> {{ order.user.username }}</p>
          <p><strong>Телефон:</strong> {{ order.phone }}</p>
          <p><strong>Адрес:</strong> {{ order.address }}</p>
          <p><strong>Комментарий:</strong> {{ order.comment }}</p>
          <p><strong>Корзина:</strong> {{ order.all_name }}</p>
          <p><strong>Статус:</strong> {{ order.status }}</p>
          <p><strong>Статус доставки:</strong> {{ order.delivery_status }}</p><br>
        </div>
        <div class="order-actions">
          {% if not order.is_confirmed %}
            <a href="{% url 'confirm_order' order.id %}"><button class="filter-button">Подтвердить</button></a>
          {% else %}
            <p class="status-confirmed">Подтверждено</p>
          {% endif %}

          {% if not order.is_closed %}
            <a href="{% url 'close_order' order.id %}"><button class="filter-button">Закрыть</button></a>
          {% else %}
            <p class="status-closed">Закрыто</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}