{% extends  'home/layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>Корзина</h1>
{% if cart %}
    <ul>
    {% for item in cart.productincart_set.all %}
        <p>{{ item.product.name }} - Количество: {{ item.quantity }} - Цена: {{ item.price }}</p>
    {% endfor %}
    </ul>
    <p>Общая стоимость: {{ cart.total_price }}</p>
    <p>Общее количетсво товаров: {{ cart.total_items }}</p>
    <a href="/cart/delivery_choice/"><button class="btn btn-warning">Оплатить</button></a>
{% else %}
    <p>Корзина пуста.</p>
{% endif %}

{% endblock %}