{% extends  'home/layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>Оплата</h1>
    <form method="post" action="{% url 'payment' %}">
        {% csrf_token %}
        <p>Сумма платежа: {{ cart.total_price }}</p>
       <nav>
            <ul>
                <!-- ... остальные пункты меню -->
                {% if user.wallet.balance > cart.total_price %}
                    <button type="submit" class="filter-button">Оплатить</button>
                {% else %}
                    <li><a href="/users/balance/">Недостаточно средств</a></li>
                {% endif %}
            </ul>
        </nav>
    </form>
{% endblock %}