{% extends  'home/layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>Оплата</h1>
    <form method="post" action="{% url 'payment' %}">
        {% csrf_token %}
        <h3>Сумма платежа: {{ cart.total_price }}<br>

                {% if user.wallet.balance > cart.total_price %}
                    <button class="filter-button">Оплатить</button>
                {% else %}
                    <a href="/users/balance/">Недостаточно средств</a>
                {% endif %}

        </h3>
    </form>
{% endblock %}