{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ product.name }}</h1>
        {% for image in product.productimage_set.all %}
        <img src="{{ image.image.url }}" alt="Фото товара">
        {% endfor %}
        <h5>Цена: {{ product.price }}</h5>
        <p>Дата издания: {{ product.date_release }}</p>
        <p>Жанр: {{ product.tip }}</p>
        <p>Описание: {{ product.description }}</p>
        {% if average_rating %}
        <p>Средний рейтинг: {{ average_rating|floatformat:1 }}</p>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        {% if not already_rated %}
            <form method="POST" action="{% url 'rate_product' pk=product.id %}">
                {% csrf_token %}
                <label for="rating">Оценка:</label>
                <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="submit" class="filter-button">Оценить</button>
            </form>
        {% else %}
            <p>Вы уже оценили этот товар.</p>
        {% endif %}

        <div>
            <form id="form_add_to_cart" method="POST" action="{% url 'add_to_cart' pk=product.id %}">
                {% csrf_token %}
                <input type="number" name="quantity" id="quantity" class="form-control" min="1" value="1">
                <button type="submit" class="filter-button">Добавить в корзину</button>
            </form>
        </div>
    {% else %}
        <p>Чтобы оценить этот товар, пожалуйста, <a href="{% url 'login' %}">войдите</a>.</p>
    {% endif %}
{% endblock %}
